<h2>Listado de pacientes</h2>
<table class="table table-stripped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>N. Seguridad Social</th>
            <th>Edad</th>
            <th>Población</th>
            <th>Provincia</th>
            <th>Telefono</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let paciente of pacientes">
            <td>{{paciente.id_paciente}}</td>
            <td>{{paciente.nss}}</td>
            <td>{{paciente.edad}}</td>
            <td>{{paciente.poblacion}}</td>
            <td>{{paciente.provincia}}</td>
            <td>{{paciente.telefono}}</td>
        </tr>


    </tbody>
</table>