<h2>Lista de personas</h2>
<table class="table table-stripped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Hombre</th>
            <th>Mujer</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let persona of personas">
            <td>{{persona.id_persona}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellidos}}</td>
            <td>{{persona.hombre}}</td>
            <td>{{persona.mujer}}</td>
        </tr>


    </tbody>
</table>