<h2>Listado de médicos</h2>

<table class="table table-stripped">
    <thead class="table-dark">
        <tr>
            <th>Id medico</th>
            <th>especialidad</th>
            <th>Numero de colegiado</th>
            <th>Cargo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let medico of medicos">
            <td>{{medico.id_medico}}</td>
            <td>{{medico.especialidad}}</td>
            <td>{{medico.num_colegiado}}</td>
            <td>{{medico.cargo}}</td>
        </tr>
    </tbody>
</table>
