<h1 class="text-center">{{title}}</h1>

<nav class="navbar bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a routerLink="ListaMedicos" routerLinkActive="active" class="nav-link" >Listado médicos</a>
        </li>
        <li class="navbar-item">
            <a routerLink="ListaPacientes" routerLinkActive="active" class="nav-link" >Listado de pacientes</a>
        </li>
        <li class="navbar-item">
          <a routerLink="AddPaciente" routerLinkActive="active" class="nav-link" >Añadir paciente (aún no fundional)</a>
      </li>
    </ul>
</nav>


<div class="container">
    <router-outlet>
    </router-outlet>
</div>
