<h1 class="text-center">{{title}}</h1>

<nav class="navbar nabvar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a routerLink="personas" routerLinkActive="active" class="nav-link" >Lista de Personas</a>
        </li>
        <li class="navbar-item">
            <a routerLink="save-persona" routerLinkActive="active" class="nav-link" >Añadir persona</a>
        </li>
        <li class="navbar-item">
            <a routerLink="medicos" routerLinkActive="active" class="nav-link" >Listado médicos</a>
        </li>
        <li class="navbar-item">
            <a routerLink="pacientes" routerLinkActive="active" class="nav-link" >Listado de pacientes</a>
        </li>
    </ul>
</nav>


<div class="container">
    <router-outlet>
    </router-outlet>
</div>
